%link{ :rel=> 'import', :href=> 'product-component'}

%link{:href => "products.css", :rel => "stylesheet"}
%template#products-template
  .container.product-container
    - items.each do |uri|
      - if items.count == 3
        .col-md-4.col-sm-6.col-xs-12
          %product-view{'url' => uri, :class=>"product-item"}
      - if items.count == 2
        .col-md-6.col-sm-6.col-xs-12
          %product-view{'url' => uri, :class=>"product-item"}
      - if items.count == 1
        .col-md-12.col-sm-12.col-xs-12
          %product-view{'url' => uri, :class=>"product-item"}
      - if items.count > 3
        .col-md-3.col-sm-6.col-xs-12
          %product-view{'url' => uri, :class=>"product-item"}



:javascript
  (function (){
  var currentscript= document.currentScript;
  var template = currentscript
          .ownerDocument
          .getElementById('products-template')
          .content;
  customElements.define('product-list',
    class extends HTMLElement {
      constructor() {
        super()
        }
      connectedCallback() {
        const temp = document.importNode(template, true);
        this.appendChild(temp);
      }
  })
  }())

