%link{ rel: 'import', href: 'product-component'}

%template#products-template
  - items.each do |uri|
    %product-view{'url' => uri, :class=>"product-item"}



:javascript
  (function (){
  var currentscript= document.currentScript
  customElements.define('product-list',
    class extends HTMLElement {
      constructor() {
        super()
        var template = currentscript
          .ownerDocument
          .getElementById('products-template')
          .content
        var shadowRoot = this.attachShadow({mode: 'open'})
        shadowRoot.appendChild(template.cloneNode(true))
      }
  })
  }())

