%link{ rel: 'import', href: 'product-component'}

%template#products-template
  - items.each do |uri|
    %product-view{'url' => uri, :class=>"product-item"}



:javascript
  var currentscript= document.currentScript
  customElements.define('product-list',
    class extends HTMLElement {
      constructor() {
        super()
        var template = currentscript
          .ownerDocument
          .getElementById('products-template')
          .content
        var shadowRoot = this.attachShadow({mode: 'open'})
        shadowRoot.appendChild(template.cloneNode(true))
        var actions=this.getElementsByClassName('actions') [0]
        if(actions != null)
        {
        var elements=shadowRoot.querySelectorAll('.product-item')
        for (var i = 0; i < elements.length; i++) {
            var action=actions.cloneNode(true)
            action.setAttribute("url",elements[i].getAttribute("url"))
            elements[i].appendChild(action);
        }
      }
      }
  })

